/*variables*/
$sgiblue: #7D9EC0;
$silver: #C0C0C0;
$neutralgray: #F0F0F0;
/*variables end*/

body {
	font-family: 'Droid Sans', sans-serif;
	background-color: black;
}

div {
	color: white;
	&#header-jumbo {
		background-color: black;
		background-size: cover;
		height: 1100px;
		max-height: 100%;
		max-width: 100%;
		padding-top: 2%;
		margin-top: 2%;
		color: white;
		background-image: url("Projectimages/clt.PNG");
		
	}
	&.nav-div {
		margin-bottom: 3%;
	}
	&.div-one {
		height: 1100px;
		max-height: 100%;
		margin-top: -35px;
		background-color: darken($neutralgray, 60%);
		margin-bottom: 50px;
		p {
			font-size: 1.3em;
		}
	}
	&#div-two {
		height: 1100px;
		max-height: 100%;
		background-color: darken($sgiblue, 30%);
		margin-top: -50px;
		padding-top: 50px;
		padding: 1%;
		p {
			font-size: 1.3em;
		}
	}
	&#div-three {
		background-color: darken($neutralgray, 60%);
		padding-top: 50px;
	}
	&#div-four {
		background-color: darken($neutralgray, 60%);
	}
	&#div-five {
		border-top: 2px solid white;
		background-color: darken($sgiblue, 30%);
	}
	&.overline {
		padding: 15px;
		border-top: 1px solid white;
	}

}

nav {
	font-size: 1.2em;
	margin-bottom: 2%;
	opacity: 0.9;
}

h1{
	display: none;
	&#main-head {
	padding: 30px;
	}
}

p {
	display: none;
	&#header-p {
		font-size: 1.5em;
	}
	&.card-text {
		color: black;
	}

}

li {
	display: none;
	font-size: 1.1em;
	padding: 5px;
	color: darken(white, 10%);
}

img {
	border-radius: 10px;
	&.icon {
		height: 40px;
		width: 40px;
		margin-left: 50px;
	}
	&.card-image {
		width: 500px;
		height: 300px;
	}
	&#me-img {
		height: 300px;
		width: 300px;
	}
}

#exCollapsingNavbar2 {
		padding: 10px;
}

.grayscale {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

